<div class = "flex gap-1 items-center"> 
    @if (selected) {
        <img class = 'h-7 w-7 cursor-pointer' src = '/list/green_bullet.png' (click) = "unselect(taskData()?.name)">
    }
    @else {
        <img class = 'h-7 w-7 cursor-pointer' src = '/list/bullet.png' (click) = "select(taskData()?.name)">
    }
    <div class = "drop-shadow flex text-lg h-10 bg-[#FFEAF5] p-5 items-center justify-between mt-2 flex-1">
        <div>
            {{ taskData()?.name }}
        </div>
        <div class = "flex">
        <div>
            {{ taskData()?.date | date}}
        </div>
        <div class = "flex w-30 justify-end">
            @if (taskData()?.done) {
                <img class = 'h-7 w-7' src = '/list/green.png'>
            }
            @else {
                <img class = 'h-7 w-7' src = '/list/red_star.png'>
                <button class = "cursor-pointer" (click) = "completeTask(taskData()?.name, taskData()?.date)"><img class = 'h-7 w-7 hover:scale-110' src = '/list/green.png'></button>
            }
            <!-- delete button -->
            <button class = 'cursor-pointer' (click) = "openDialog()"><img class = 'h-7 w-7 hover:scale-110' src = '/list/axe.png'></button>
        </div>
        </div>
    </div>
</div>